video {
  position: "absolute";
  width: "100%";
  left: "none";
  top: "none";
  height: "100%";
  object-fit: cover;
  transform: "translate(-50%, --50%)";
  z-index: -1;
}

button {
  width: '100%';
  height: '100%';
  position: '50';
  color: "white";
  background-color: 'transparent';
  align-items: 'center';
  justify-content: 'center';
  flex-direction: 'column';
  z-index: 1;
  border: 'transparent'
}